# **20230508**

## 데이터 크롤링
<br>

### 01 파이썬 웹 크롤링 기본


- 웹 크롤러란?

우리가 어떤 정보를 브라우저에서만 보는 것 뿐만 아니라 그 정보들을 내가 이용하기 편한 방식으로 로컬에 저장하는 것

In [31]:
import requests                 # import module
from bs4 import BeautifulSoup   # from module import class

import pandas as pd
import seaborn as sns
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [32]:
req = requests.get('https://beomi.github.io/beomi.github.io_old/')

# HTML소스 가져오기(text 추출(string))
html = req.text

# HTTP Header(response의 응답한 정보들) 가져오기
header = req.headers

# HTTP Status (200/300: 정상, 400:요청정보(url)x, 500:server error)가져오기
status = req.status_code

# ok : status 200인 경우 True -> 조건식(if) 사용 가능
is_ok = req.ok

In [33]:
is_ok

True

In [34]:
#%pip install bs4

In [35]:
req = requests.get('https://finance.naver.com//item/news_news.naver?code=005930&page=&sm=title_entity_id.basic&clusterId=')
html = req.text

#print(html)

# html text dom tree 형태로 바꿈 => return BeautifulSoup object
soup = BeautifulSoup(html, 'html.parser')
#print(soup)

# selector를 통해 데이터 추출 : 뉴스 제목
my_titles = soup.select(
    'body > div > table.type5 > tbody > tr > td.title > a'
)
#print(my_titles)

for title in my_titles:

    # tag안의 text(뉴스 제목)
    print(title.text)

삼성전기, 임금 4.1% 인상 전망…“삼성전자 기준 맞춘다”
“갤럭시 3대 팔아야 아이폰 1대 이익”… 삼성전자, 스마트폰 평균판매...
'20조 손실' 버티면 웃는다…삼성전자·SK하이닉스 '고진감래' [김익...
삼성전자. 獨 함부르크 개항축제서 부산엑스포 홍보
삼성 이재용 회장, 글로벌 제약사 CEO 회동 '제2 반도체 신화'
일현전자, 삼성스토어 용인처인·용인시청점 오픈
아이폰·인도 힘입어 ‘분기 최대매출’ 애플…삼성, 따라올테면 따라와봐?...
"일하다 운 적 있다"…아무나 못하는 '0.02%' 삼성전자 사장
'칠판·분필 사라지는 교실'...삼성·LG, 여기에 꽂혔다
[이번주 추천주] 글로벌 불확실성 여전…삼성전자 등 실적개선주 주목

In [36]:
#content > div.section.new_bbs > div.sub_section.news_section > ul:nth-child(2) > li:nth-child(1) > span > a

# 첫번째 뉴스
#body > div > table.type5 > tbody > tr.first > td.title > a

# 두번째 뉴스
#body > div > table.type5 > tbody > tr:nth-child(2) > td.title > a

## **시카고 샌드위치 맛집 분석**

<br>

**[학습목표]**

- 웹 데이터를 가져오는 BeautifulSoup 익히기
- 크롬 개발자 도구를 이용해서 원하는 태그 찾기
- 시카고 샌드위치 맛집 소개 사이트에 접근하기
- 접근한 웹 페이지에서 원하는 데이터 추출하고 정리하기
- 다수의 웹 페이지에서 자동으로 접근해서 원하는 정보 가져오기
- Jupyter notebook 상태 진행바 생성
- 상태 진행바 적용 페이지 접근하기 
- 50개 웹페이지 정보 가져오기

In [37]:
page = open('../data/03. test_first.html','r').read()
soup = BeautifulSoup(page, 'html.parser')
print(soup)

<!DOCTYPE html>

<html>
<head>
<title>Very Simple HTML Code by PinkWink</title>
</head>
<body>
<div>
<p class="inner-text first-item" id="first">
                Happy PinkWink.
                <a href="http://www.pinkwink.kr" id="pw-link">PinkWink</a>
</p>
<p class="inner-text second-item">
                Happy Data Science.
                <a href="https://www.python.org" id="py-link">Python</a>
</p>
</div>
<p class="outer-text first-item" id="second">
<b>
                Data Science is funny.
            </b>
</p>
<p class="outer-text">
<b>
                All I need is Love.
            </b>
</p>
</body>
</html>

In [38]:
list(soup.children)

['html',
 '\n',
 <html>
 <head>
 <title>Very Simple HTML Code by PinkWink</title>
 </head>
 <body>
 <div>
 <p class="inner-text first-item" id="first">
                 Happy PinkWink.
                 <a href="http://www.pinkwink.kr" id="pw-link">PinkWink</a>
 </p>
 <p class="inner-text second-item">
                 Happy Data Science.
                 <a href="https://www.python.org" id="py-link">Python</a>
 </p>
 </div>
 <p class="outer-text first-item" id="second">
 <b>
                 Data Science is funny.
             </b>
 </p>
 <p class="outer-text">
 <b>
                 All I need is Love.
             </b>
 </p>
 </body>
 </html>]

In [39]:
#html
list(soup.children)[2]

<html>
<head>
<title>Very Simple HTML Code by PinkWink</title>
</head>
<body>
<div>
<p class="inner-text first-item" id="first">
                Happy PinkWink.
                <a href="http://www.pinkwink.kr" id="pw-link">PinkWink</a>
</p>
<p class="inner-text second-item">
                Happy Data Science.
                <a href="https://www.python.org" id="py-link">Python</a>
</p>
</div>
<p class="outer-text first-item" id="second">
<b>
                Data Science is funny.
            </b>
</p>
<p class="outer-text">
<b>
                All I need is Love.
            </b>
</p>
</body>
</html>

In [40]:
list(list(soup.children)[2].children)

['\n',
 <head>
 <title>Very Simple HTML Code by PinkWink</title>
 </head>,
 '\n',
 <body>
 <div>
 <p class="inner-text first-item" id="first">
                 Happy PinkWink.
                 <a href="http://www.pinkwink.kr" id="pw-link">PinkWink</a>
 </p>
 <p class="inner-text second-item">
                 Happy Data Science.
                 <a href="https://www.python.org" id="py-link">Python</a>
 </p>
 </div>
 <p class="outer-text first-item" id="second">
 <b>
                 Data Science is funny.
             </b>
 </p>
 <p class="outer-text">
 <b>
                 All I need is Love.
             </b>
 </p>
 </body>,
 '\n']

In [41]:
# body
list(list(soup.children)[2].children)[3]

<body>
<div>
<p class="inner-text first-item" id="first">
                Happy PinkWink.
                <a href="http://www.pinkwink.kr" id="pw-link">PinkWink</a>
</p>
<p class="inner-text second-item">
                Happy Data Science.
                <a href="https://www.python.org" id="py-link">Python</a>
</p>
</div>
<p class="outer-text first-item" id="second">
<b>
                Data Science is funny.
            </b>
</p>
<p class="outer-text">
<b>
                All I need is Love.
            </b>
</p>
</body>

In [42]:
soup.body

<body>
<div>
<p class="inner-text first-item" id="first">
                Happy PinkWink.
                <a href="http://www.pinkwink.kr" id="pw-link">PinkWink</a>
</p>
<p class="inner-text second-item">
                Happy Data Science.
                <a href="https://www.python.org" id="py-link">Python</a>
</p>
</div>
<p class="outer-text first-item" id="second">
<b>
                Data Science is funny.
            </b>
</p>
<p class="outer-text">
<b>
                All I need is Love.
            </b>
</p>
</body>

In [43]:
list(soup.body.children)

['\n',
 <div>
 <p class="inner-text first-item" id="first">
                 Happy PinkWink.
                 <a href="http://www.pinkwink.kr" id="pw-link">PinkWink</a>
 </p>
 <p class="inner-text second-item">
                 Happy Data Science.
                 <a href="https://www.python.org" id="py-link">Python</a>
 </p>
 </div>,
 '\n',
 <p class="outer-text first-item" id="second">
 <b>
                 Data Science is funny.
             </b>
 </p>,
 '\n',
 <p class="outer-text">
 <b>
                 All I need is Love.
             </b>
 </p>,
 '\n']

In [44]:
 # 모든 p 태그의 3번 인덱스값
soup.find_all('p')[3]

<p class="outer-text">
<b>
                All I need is Love.
            </b>
</p>

In [45]:
# 첫번째 p태그
soup.find('p')

<p class="inner-text first-item" id="first">
                Happy PinkWink.
                <a href="http://www.pinkwink.kr" id="pw-link">PinkWink</a>
</p>

In [46]:
soup.find_all('p',class_='outer-text')

[<p class="outer-text first-item" id="second">
 <b>
                 Data Science is funny.
             </b>
 </p>,
 <p class="outer-text">
 <b>
                 All I need is Love.
             </b>
 </p>]

In [47]:
soup.find_all(id='py-link')

In [48]:
print(soup.find('p').get_text())

                Happy PinkWink.
                PinkWink

In [49]:
for each_tag in soup.find_all('p'):
    print(each_tag.get_text())

                Happy PinkWink.
                PinkWink


                Happy Data Science.
                Python



                Data Science is funny.




                All I need is Love.

In [50]:
print(soup.body.get_text())

                Happy PinkWink.
                PinkWink


                Happy Data Science.
                Python




                Data Science is funny.




                All I need is Love.

In [51]:
soup.find_all('a')

[<a href="http://www.pinkwink.kr" id="pw-link">PinkWink</a>,
 <a href="https://www.python.org" id="py-link">Python</a>]

In [52]:
soup.find_all('a')[0]['href']

'http://www.pinkwink.kr'

In [53]:
soup.find_all('a')[0].string

'PinkWink'

In [54]:
for each in soup.find_all('a'):
    print(each.string + '->' + each['href'])

PinkWink->http://www.pinkwink.kr
Python->https://www.python.org

### 크롬 개발자 도구를 이용해서 원하는 태그 찾기

In [55]:
from urllib.request import urlopen

In [56]:
# 네이버 증권 시장지표의 환율 가져오기

url = 'https://finance.naver.com/marketindex/'
page = urlopen(url)

soup = BeautifulSoup(page, 'html.parser')
#print(soup)

#              tag     class
soup.find_all('span', 'value')  # return list

[<span class="value">1,320.10</span>,
 <span class="value">979.56</span>,
 <span class="value">1,457.59</span>,
 <span class="value">190.76</span>,
 <span class="value">134.8300</span>,
 <span class="value">1.1124</span>,
 <span class="value">1.2639</span>,
 <span class="value">100.9900</span>,
 <span class="value">71.34</span>,
 <span class="value">1653.12</span>,
 <span class="value">2024.8</span>,
 <span class="value">85845.4</span>]

In [57]:
soup.find_all('span', 'value')[0].string

'1,320.10'

### 실전 : 시카고 샌드위치 맛집 소개 사이트에 접근하기

In [58]:
from bs4 import BeautifulSoup
from urllib.request import urlopen, Request

In [59]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

url_base = 'https://www.chicagomag.com'
url_sub = '/Chicago-Magazine/November-2012/Best-Sandwiches-Chicago/'

url = url_base + url_sub


headers = {'User-Agent':'Chrome/112.0.5615.138'}
req = Request(url, headers=headers)

html = urlopen(req)
soup = BeautifulSoup(html, 'html.parser')

In [60]:
len(soup.find_all('div','sammy'))

50

In [61]:
soup.find_all('div','sammy')[0]

<div class="sammy" style="position: relative;">
<div class="sammyRank">1</div>
<div class="sammyListing"><a href="/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/"><b>BLT</b><br/>
Old Oak Tap<br/>
<em>Read more</em> </a></div>
</div>

### 접근한 웹 페이지에서 원하는 데이터 추출하고 정리하기

In [62]:
tmp = soup.find_all('div','sammy')[0]

In [63]:
tmp.find(class_='sammyRank').get_text()

'1'

In [64]:
tmp.find(class_='sammyListing').get_text().split('\n')

['BLT', 'Old Oak Tap', 'Read more ']

In [65]:
# 상세 url
tmp.find('a')['href']

'/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/'

In [66]:
# url 합치기 (한글 url은 +기호로 합치기 불가)
from urllib.parse import urljoin

In [67]:
# url_base = 'https://www.chicagomag.com'

urljoin(url_base, tmp.find('a')['href'])

'https://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/'

In [68]:
rank = []
main_menu=[]
cafe_name=[]
url_addr=[]

# 1~50등까지의 정보(리스트)
list_soup = soup.find_all('div','sammy')

for item in list_soup:
    # 순위 추출
    rank.append(item.find(class_='sammyRank').get_text())

    # [메뉴명, 상호명, Read more] 
    tmp_list = item.find(class_='sammyListing').get_text().split('\n')

    main_menu.append(tmp_list[0])
    cafe_name.append(tmp_list[1])

    url_addr.append(urljoin(url_base, item.find('a')['href']))

rank[:5]

['1', '2', '3', '4', '5']

In [69]:
main_menu[:5]

['BLT', 'Fried Bologna', 'Woodland Mushroom', 'Roast Beef', 'PB&L']

In [70]:
cafe_name[:5]

['Old Oak Tap', 'Au Cheval', 'Xoco', 'Al’s Deli', 'Publican Quality Meats']

In [71]:
url_addr[:5]

['https://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Old-Oak-Tap-BLT/',
 'https://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Au-Cheval-Fried-Bologna/',
 'https://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Xoco-Woodland-Mushroom/',
 'https://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Als-Deli-Roast-Beef/',
 'https://www.chicagomag.com/Chicago-Magazine/November-2012/Best-Sandwiches-in-Chicago-Publican-Quality-Meats-PB-L/']

In [72]:
len(rank), len(main_menu), len(cafe_name), len(url_addr)

(50, 50, 50, 50)

In [73]:
df = pd.DataFrame({
      'Rank' : rank
    , 'Menu' : main_menu
    , 'Cafe' : cafe_name
    , 'URL'  : url_addr    
})

df.head()

,Rank,Menu,Cafe,URL
0,1,BLT,Old Oak Tap,https://www.chicagomag.com/Chicago-Magazine/No...
1,2,Fried Bologna,Au Cheval,https://www.chicagomag.com/Chicago-Magazine/No...
2,3,Woodland Mushroom,Xoco,https://www.chicagomag.com/Chicago-Magazine/No...
3,4,Roast Beef,Al’s Deli,https://www.chicagomag.com/Chicago-Magazine/No...
4,5,PB&L,Publican Quality Meats,https://www.chicagomag.com/Chicago-Magazine/No...

In [74]:
df.to_csv('../data/03. best_sandwiches_list_chicago.csv',sep=',',encoding='UTF-8')

### 다수의 웹 페이지에 자동으로 접근해서 원하는 정보 가져오기

In [75]:
df = pd.read_csv('../data/03. best_sandwiches_list_chicago.csv', index_col=0)
df.head()

,Rank,Menu,Cafe,URL
0,1,BLT,Old Oak Tap,https://www.chicagomag.com/Chicago-Magazine/No...
1,2,Fried Bologna,Au Cheval,https://www.chicagomag.com/Chicago-Magazine/No...
2,3,Woodland Mushroom,Xoco,https://www.chicagomag.com/Chicago-Magazine/No...
3,4,Roast Beef,Al’s Deli,https://www.chicagomag.com/Chicago-Magazine/No...
4,5,PB&L,Publican Quality Meats,https://www.chicagomag.com/Chicago-Magazine/No...

In [ ]:
# 상세페이지 이동 -> 가격, 주소 추출

headers = {'User-Agent':'Chrome/112.0.5615.138'}
req = Request(df['URL'][0], headers=headers)

html = urlopen(req)
soup_tmp = BeautifulSoup(html, 'html.parser')

In [92]:
soup_tmp.find('p','addy').get_text().split()

['$10.', '2109', 'W.', 'Chicago', 'Ave.,', '773-772-0406,', 'theoldoaktap.com']

In [96]:
# 가격
soup_tmp.find('p','addy').get_text().split()[0][:-1]

'$10'

In [102]:
# 주소
soup_tmp.find('p','addy').get_text().split()[1:5]

' '.join(soup_tmp.find('p','addy').get_text().split()[1:-2])

'2109 W. Chicago Ave.,'

In [101]:
len(df)

50

### 상태 진행바를 쉽게 만들어주는 모듈 tqdm

In [114]:
from tqdm import tqdm

In [115]:
price=[]
address=[]

for n in tqdm(df.index):
    headers = {'User-Agent':'Chrome/112.0.5615.138'}
    req = Request(df['URL'][n], headers=headers)

    html = urlopen(req)
    soup_tmp = BeautifulSoup(html, 'html.parser')

    gettings = soup_tmp.find('p','addy').get_text()

    price.append(gettings.split()[0][:-1])
    address.append(' '.join(gettings.split()[1:-2]))

100%|██████████| 50/50 [01:44<00:00,  2.09s/it]

In [116]:
price[:5]

['$10', '$9', '$9.50', '$9.40', '$10']

In [117]:
address[:5]

['2109 W. Chicago Ave.,',
 '800 W. Randolph St.,',
 '445 N. Clark St.,',
 '914 Noyes St., Evanston,',
 '825 W. Fulton Mkt.,']

In [118]:
len(price), len(address)

(50, 50)

In [119]:
df['Price'] = price
df['Address'] = address

df

,Rank,Menu,Cafe,URL,Price,Address
0,1,BLT,Old Oak Tap,https://www.chicagomag.com/Chicago-Magazine/No...,$10,"2109 W. Chicago Ave.,"
1,2,Fried Bologna,Au Cheval,https://www.chicagomag.com/Chicago-Magazine/No...,$9,"800 W. Randolph St.,"
2,3,Woodland Mushroom,Xoco,https://www.chicagomag.com/Chicago-Magazine/No...,$9.50,"445 N. Clark St.,"
3,4,Roast Beef,Al’s Deli,https://www.chicagomag.com/Chicago-Magazine/No...,$9.40,"914 Noyes St., Evanston,"
4,5,PB&L,Publican Quality Meats,https://www.chicagomag.com/Chicago-Magazine/No...,$10,"825 W. Fulton Mkt.,"
5,6,Belgian Chicken Curry Salad,Hendrickx Belgian Bread Crafter,https://www.chicagomag.com/Chicago-Magazine/No...,$7.25,100 E. Walton
6,7,Lobster Roll,Acadia,https://www.chicagomag.com/Chicago-Magazine/No...,$16,"1639 S. Wabash Ave.,"
7,8,Smoked Salmon Salad,Birchwood Kitchen,https://www.chicagomag.com/Chicago-Magazine/No...,$10,"2211 W. North Ave.,"
8,9,Atomica Cemitas,Cemitas Puebla,https://www.chicagomag.com/Chicago-Magazine/No...,$9,"3619 W. North Ave.,"
9,10,Grilled Laughing Bird Shrimp and Fried Po’ Boy,Nana,https://www.chicagomag.com/Chicago-Magazine/No...,$17,"3267 S. Halsted St.,"
10,11,Ham and Raclette Panino,Lula Cafe,https://www.chicagomag.com/Chicago-Magazine/No...,$11,"2537 N. Kedzie Blvd.,"
11,12,Breaded Steak,Ricobene’s,https://www.chicagomag.com/Chicago-Magazine/No...,$5.49,Multiple
12,13,The Hawkeye,Frog n Snail,https://www.chicagomag.com/Chicago-Magazine/No...,$14,"3124 N. Broadway,"
13,14,Chicken Dip,Crosby’s Kitchen,https://www.chicagomag.com/Chicago-Magazine/No...,$10,"3455 N. Southport Ave.,"
14,15,Wild Boar Sloppy Joe,Longman & Eagle,https://www.chicagomag.com/Chicago-Magazine/No...,$13,"2657 N. Kedzie Ave.,"
15,16,Meatball Sub,Bari,https://www.chicagomag.com/Chicago-Magazine/No...,$4.50,"1120 W. Grand Ave.,"
16,17,Corned Beef,Manny’s,https://www.chicagomag.com/Chicago-Magazine/No...,$11.95,"1141 S. Jefferson St.,"
17,18,Turkey Club,Eggy’s,https://www.chicagomag.com/Chicago-Magazine/No...,$11.50,"333 E. Benton Pl.,"
18,19,Falafel,Old Jerusalem,https://www.chicagomag.com/Chicago-Magazine/No...,$6.25,"1411 N. Wells St.,"
19,20,Crab Cake,Mindy’s HotChocolate,https://www.chicagomag.com/Chicago-Magazine/No...,$15,"1747 N. Damen Ave.,"
20,21,Chicken Schnitzel,Olga’s Delicatessen,https://www.chicagomag.com/Chicago-Magazine/No...,$5,3209 W. Irving Park
21,22,Shawarma,Dawali Mediterranean Kitchen,https://www.chicagomag.com/Chicago-Magazine/No...,$6,Multiple
22,23,Toasted Pimiento Cheese,Big Jones,https://www.chicagomag.com/Chicago-Magazine/No...,$8,"5347 N. Clark St.,"
23,24,Vegetarian Panino,La Pane,https://www.chicagomag.com/Chicago-Magazine/No...,$5.99,"2954 W. Irving Park Rd.,"
24,25,Cali Chèvre,Pastoral,https://www.chicagomag.com/Chicago-Magazine/No...,$7.52,Multiple
25,26,Pastrami,Max’s Deli,https://www.chicagomag.com/Chicago-Magazine/No...,$11.95,"191 Skokie Valley Rd., Highland Park,"
26,27,The Fredo,Lucky’s Sandwich Co.,https://www.chicagomag.com/Chicago-Magazine/No...,$7.50,Multiple
27,28,Smoked Ham,City Provisions,https://www.chicagomag.com/Chicago-Magazine/No...,$12.95,"1818 W. Wilson Ave.,"
28,29,Jibarito,Papa’s Cache Sabroso,https://www.chicagomag.com/Chicago-Magazine/No...,$7,"2517 W. Division St.,"
29,30,Shaved Prime Rib,Bavette’s Bar & Boeuf,https://www.chicagomag.com/Chicago-Magazine/No...,$21,218 W. Kinzie
30,31,Serrano Ham and Manchego Cheese,Hannah’s Bretzel,https://www.chicagomag.com/Chicago-Magazine/No...,$9.79,Multiple
31,32,Tuna Salad,La Fournette,https://www.chicagomag.com/Chicago-Magazine/No...,$9.75,"1547 N. Wells St.,"
32,33,Paramount Reuben,Paramount Room,https://www.chicagomag.com/Chicago-Magazine/No...,$13,"415 N. Milwaukee Ave.,"
33,34,The Istanbul,Melt Sandwich Shoppe,https://www.chicagomag.com/Chicago-Magazine/No...,$7.95,"1840 N. Damen Ave.,"
34,35,B.A.D.,Floriole Cafe & Bakery,https://www.chicagomag.com/Chicago-Magazine/No...,$9,"1220 W. Webster Ave.,"
35,36,Duck Confit and Mozzarella,First Slice Pie Café,https://www.chicagomag.com/Chicago-Magazine/No...,$9,"5357 N. Ashland Ave.,"
36,37,Croque Monsieur,Troquet,https://www.chicagomag.com/Chicago-Magazine/No...,$8,"1834 W. Montrose Ave.,"
37,38,Green Garbanzo,Grahamwich,https://www.chicagomag.com/Chicago-Magazine/No...,$8,"615 N. State St.,"
38,39,The Hen House,Saigon Sisters,https://www.chicagomag.com/Chicago-Magazine/No...,$7,Multiple
39,40,Tuscan Chicken,Rosalia’s Deli,https://www.chicagomag.com/Chicago-Magazine/No...,$6,"241 N. York Rd., Elmhurst,"
40,41,The Marty,Z&H MarketCafe,https://www.chicagomag.com/Chicago-Magazine/No...,$7.25,"1323 E. 57th St.,"
41,42,Whitefish,Market House on the Square,https://www.chicagomag.com/Chicago-Magazine/No...,$11,"655 Forest Ave., Lake Forest,"
42,43,"Oat Bread, Pecan Butter, and Fruit Jam",Elaine’s Coffee Call,https://www.chicagomag.com/Chicago-Magazine/No...,$6,"Hotel Lincoln, 1816 N. Clark St.,"
43,44,Cauliflower Melt,Marion Street Cheese Market,https://www.chicagomag.com/Chicago-Magazine/No...,$9,"100 S. Marion St., Oak Park,"
44,45,Cubana,Cafecito,https://www.chicagomag.com/Chicago-Magazine/No...,$5.49,"26 E. Congress Pkwy.,"
45,46,Kufta,Chickpea,https://www.chicagomag.com/Chicago-Magazine/No...,$8,"2018 W. Chicago Ave.,"
46,47,Debbie’s Egg Salad,The Goddess and Grocer,https://www.chicagomag.com/Chicago-Magazine/No...,$6.50,"25 E. Delaware Pl.,"
47,48,Beef Curry,Zenwich,https://www.chicagomag.com/Chicago-Magazine/No...,$7.50,"416 N. York St., Elmhurst,"
48,49,Le Végétarien,Toni Patisserie,https://www.chicagomag.com/Chicago-Magazine/No...,$8.75,"65 E. Washington St.,"
49,50,The Gatsby,Phoebe’s Bakery,https://www.chicagomag.com/Chicago-Magazine/No...,$6.85,"3351 N. Broadway,"

In [120]:
df = pd.DataFrame(data=df, columns=['Rank','Cafe','Menu','Price','Address'])
df.set_index('Rank',inplace=True)

In [122]:
df.head()

,Cafe,Menu,Price,Address
Rank,,,,
1,Old Oak Tap,BLT,$10,"2109 W. Chicago Ave.,"
2,Au Cheval,Fried Bologna,$9,"800 W. Randolph St.,"
3,Xoco,Woodland Mushroom,$9.50,"445 N. Clark St.,"
4,Al’s Deli,Roast Beef,$9.40,"914 Noyes St., Evanston,"
5,Publican Quality Meats,PB&L,$10,"825 W. Fulton Mkt.,"

In [123]:
df.to_csv('../data/03. best_sandwiches_list_chicago2.csv',sep=',',encoding='UTF-8')