In [7]:
print('HelloWorld')

HelloWorld

In [4]:
a=1
print(a)
print(type(a))
type(a)

1
<class 'int'>

int

In [8]:
a='p'
print(a)
print(type(a))

p
<class 'str'>

In [ ]:
#Cell Mode


# 1. code mode(python) ; y
# 코딩 -> 실행

# 2. markdown mode ; m
# 설명 (실행X)


|$$\sqrt[n][a]$$

$$
f(x) = ax^ + bx + c\\
g(x) = Ax^4
$$

In [19]:
a = 3
if a < 5 :
    print(a)

if a < 5 :
    pass

3

In [24]:
for a in ['안녕',2,[7,8,9]]:
    print(a)

안녕
2
[7, 8, 9]

In [31]:
def sum(a,b):
    """_summary_
    더하기 함수
    Args:
        a (_type_): _description_
        b (_type_): _description_

    Returns:
        _type_: _description_
    """
    return a+b

for  i in [4,5,6]:
    print(sum(i,4))

8
9
10

In [34]:
a = 'aaa\naaa\naaa'

print(a)

aaa
aaa
aaa

In [38]:
a = '''
aaa
aaa
aaa
'''
#a
# 그냥 a 만 입력 => '\naaa\naaa\naaa\n'
print(a)

aaa
aaa
aaa

In [ ]:
'''
aaa
aaa
aaa
'''
#대입이 없기에 레퍼런스x ~ 메모리 저장x => 주석
# 따옴표 세개를 써야 \n 인식 가능

In [41]:
# print?
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Docstring:
print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

Prints the values to a stream, or to sys.stdout by default.
Optional keyword arguments:
file:  a file-like object (stream); defaults to the current sys.stdout.
sep:   string inserted between values, default a space.
end:   string appended after the last value, default a newline.
flush: whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [42]:
def add(a,b):
    '''__summary_
       더하기 함수
       Args
       a : 정수
       b : 정수
       return : 두 수의 합 
    '''
    return a+b

In [46]:
a = 120.0
type(a)

float

In [52]:
print(10/3)
int(10/3)

3.3333333333333335

3

In [53]:
for i in 'hello':
    print(i)

h
e
l
l
o

# 2023-04-07

## 문자열 포매팅
---
### 1. %

In [57]:
a = 'Life is too short, You need Python'
print(a[3:8])
print(a[-1])

e is
n

In [8]:
a='20230407Sunny'
year = a[:4]
date= a[4:8]
weather=a[8:]
print(year,'\n',date,'\n',weather)

2023
 0407
 Sunny

In [16]:
a = 'Pithon'
print(a[:1]+'y'+a[2:])

Python

In [17]:
number = 3
day = 'three'

'I ate %d apples, so I sick %s days'%(number,day)

'I ate 3 apples, so I sick three days'

In [20]:
'%d%%'%90

'90%'

In [23]:
'hi %10s hi'%'hi'

'hi         hi hi'

In [24]:
'%0.4f'%3.141592

'3.1416'

In [25]:
'%10.4f'%3.141592

'    3.1416'

### 2. format

In [26]:
'I eat {0} apples'.format(3)

'I eat 3 apples'

In [27]:
#전역변수(global variable)
number = 3
day = 'three'

'I ate {0} apples, so I sick {1} days'.format(number,day)

'I ate 3 apples, so I sick three days'

In [30]:
#지역변수(local variable)
'I ate {number} apple, so I sick {day} days'.format(number=3, day='three')

'I ate 3 apple, so I sick three days'

In [32]:
number = 3
day = 'three'

'I ate {number} apples, so I sick {day} days'.format(number=10,day='five')

'I ate 10 apples, so I sick five days'

In [35]:
'{0:<10}'.format('hi')

'hi        '

In [36]:
'{0:>10}'.format('hi')

'        hi'

In [37]:
'{0:^10}'.format('hi')

'    hi    '

In [41]:
'{0:=^10}'.format(' 전체목록 ')

'== 전체목록 =='

### 3.  f 포매팅

In [33]:
number = 3
day = 'three'

f'I ate {number} apples, so I sick {day} days'

'I ate 3 apples, so I sick three days'

### 문자열 관련 메소드

In [46]:
a = 'Python is best choice'

print(a.count('o')) #'o'의 개수              : 2
print(a.count('ho'))#'ho'의 개수             : 2
print(a.find('i'))  #첫번째 'i'의 위치(index) : 7
print(a.find('a'))  #없는 문자열은 -1 반환    : -1
#index('a')는 error => 프로그램 종료됨

2
2
7
-1

In [48]:
','.join('abcd')

'a,b,c,d'

In [55]:
# 공백 제거

# strip     : 양쪽 공백 제거
# lstrip    : 왼쪽 공백 제거 
# rstrip    : 오른쪽 공백 제거
# replace   : 모든 공백 제거

print('    hello world  ')
print('    hello world  '.strip())
print('    hello world  '.replace(' ',''))

    hello world
hello world
helloworld

In [56]:
# 문자열 나누기

a = 'Python is best choice'
a.split(' ')

['Python', 'is', 'best', 'choice']

List

In [74]:
#빈 리스트 새성

a = []
b = list()
print(type(a),type(b))

# 리스트내에는 아무거나(숫자, 문자, 리스트 등) 저장 가능
# 단, numpy에서는 특정 타입만 저장 가능

<class 'list'> <class 'list'>

### 리스트 인덱싱과 슬라이싱
---

In [78]:
# 1. 리스트의 인덱싱
a = [1,2,3]
print(a,type(a))

[1, 2, 3] <class 'list'>

In [79]:
a, a[0] # ' , ' = tuple

([1, 2, 3], 1)

In [80]:
a , a[0] + a[1]

([1, 2, 3], 3)

In [82]:
a = [1,2,3,['a','b','c']]
a

[1, 2, 3, ['a', 'b', 'c']]

In [87]:
a, a[3], a[3][1]

([1, 2, 3, ['a', 'b', 'c']], ['a', 'b', 'c'], 'b')

In [93]:
# 중첩된 리스트에서 슬라이싱하기
a = [1, 2, 3, ['a','b','c'], 4, 5]

#'a','b' 추출
a, a[3],  a[3][:2]

([1, 2, 3, ['a', 'b', 'c'], 4, 5], ['a', 'b', 'c'], ['a', 'b'])

### 리스트 연산자

In [102]:
a = [1,2,3]
str(a[2]) + 'hi'

'3hi'

### 리스트에서 연속된 범위의 값을 수정

In [107]:
a = [1,2,3,4]
a[1:3] = ['a','b','c']
a

[1, 'a', 'b', 'c', 4]

In [3]:
a = 'Life is too short, You need Python.'

strlist = []

for i in a.split(' ') :
    #print(i)
    i = i.replace(',','').replace('.','').upper()
    strlist.append(i)

print(strlist)

Life
is
too
short,
You
need
Python.
['LIFE', 'IS', 'TOO', 'SHORT', 'YOU', 'NEED', 'PYTHON']

# 2023-04-10

### 리스트 관련 Method

In [3]:
#append

a = [1,2,3]
a.append(4)
a.append([5,6])
a

[1, 2, 3, 4, [5, 6]]

In [6]:
#sort

a = [1,4,3,2]
a.sort()

b = ['a','d','c','b']
b.sort()

print(a,b)

[1, 2, 3, 4] ['a', 'b', 'c', 'd']

In [8]:
#reverse => 정렬X, 그냥 순서 뒤집음

b = ['a','d','c','b']
b.reverse()
b

['b', 'c', 'd', 'a']

In [9]:
#index

a = [1,2,3]
a.index(3)

2

In [12]:
#insert : 위치 지정 후 추가<--> append : 마지막 추가

a = [1,2,3]
a.insert(0,4)
a

[4, 1, 2, 3]

In [13]:
a.insert(3,5)
a

[4, 1, 2, 5, 3]

In [19]:
#remove(value : 리스트 내의 value의 첫번재 값 삭제

a = [1,2,3,1,2,3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [20]:
#pop 맨 마지막 요소 출력 후 삭제 => 비복원 추출
a.pop()

3

In [21]:
#count
a.count(2)

2

In [22]:
#extend  : +의 기능과 동일
a.extend([4,5])
a

[1, 2, 1, 2, 4, 5]

---
## 튜플(tuple)

In [23]:
#리스트와 같으나(여러개 저장, 묶는다) 값 삭제,변경할 수 없음 => 변경되면 안 되는 값을 주로 튜플에 저장

#한 개 단일 값 들어 올 때 (1,) ~ 콤마 필수 => set() 과 헷갈릴 수 있음 ==> 튜플은 ,

#튜플 생성
t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 = ('a','b',('ab','cd')) #(튜플(튜플))

In [24]:
#튜플의 인덱싱(단일값)
t1 = (1,2,'a','b')
t1[0]

1

In [25]:
#튜플의 슬라이싱(여러값)
t1[1:]

(2, 'a', 'b')

In [26]:
#튜플 더하기
t2 = (3,4)

t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [27]:
#튜플 곱하기
t2 * 3

(3, 4, 3, 4, 3, 4)

--- 
## 딕셔너리

In [28]:
#딕셔너리에는 순서 없음(인덱스 없음)
#딕셔너리 쌍 추가하기

a = {1:'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [29]:
a['name'] = 'pey'
a

{1: 'a', 2: 'b', 'name': 'pey'}

In [30]:
a[3] = [1,2,3]
a

{1: 'a', 2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [31]:
#딕셔너리 요소 삭제하기
del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [32]:
#key 중복 -> error 아닌 값 수정됨
a={1:'a'}
a[1]='b'
a

{1: 'b'}

In [34]:
#key 추출 method => .keys => dict_keys object 내에 리스트가 담겨 결과 출력 ~ 반복가능
a = {'name':'pey','phone':'01011112222','birth':'0407'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [36]:
list(a.keys())

['name', 'phone', 'birth']

In [38]:
a.values()

dict_values(['pey', '01011112222', '0407'])

In [39]:
a.items()
#dict(list[tuple(,,),(,,)])

dict_items([('name', 'pey'), ('phone', '01011112222'), ('birth', '0407')])

In [40]:
#clear() : 값만 제거 => 빈 딕셔너리로, 저장소는 살아있음
# .get(key) => value
#해당 key가 딕셔너리 안에 있는지 조사하기 = in

'name' in a

True

In [41]:
## 자료형 집합 => set() function 사용 : 인덱스x, 중복허용x ~ 중복된 값 삭제할 때 사용 ~ unique 값 뽑기 

a = [1,2,3,1,2]
set(a)

{1, 2, 3}

In [43]:
s2 = set("hello")
s2

{'e', 'h', 'l', 'o'}

In [45]:
s1 = set([1,2,3])
s1

{1, 2, 3}

In [46]:
l1 = list(s1)
l1

[1, 2, 3]

In [47]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [48]:
#set, list, tuple
s1, l1, t1

({1, 2, 3}, [1, 2, 3], (1, 2, 3))

### set :: 교집합, 합집합, 차집합 만들기

In [49]:
#data
s1 = set([1,2,3,4,5,6])
s2 = set([4,5,6,7,8,9])
s1, s2

({1, 2, 3, 4, 5, 6}, {4, 5, 6, 7, 8, 9})

In [53]:
# 교집합 

#  &
s1 & s2

# intersection() method
s1.intersection(s2)

{4, 5, 6}

In [55]:
#합집합

# |
s1 | s2

#union()
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [58]:
#차집합

# -
s1-s2, s2-s1

# difference
s1.difference(s2), s2.difference(s1)

({1, 2, 3}, {7, 8, 9})

### set 관련 메소드

In [60]:
#데이터
s1 = set([1,2,3])

# 1. add(value) : 추가
s1.add(4)
s1

{1, 2, 3, 4}

In [61]:
# 2. update(iteralble) : 여러개 추가
s1.update([5,6,7])
s1

{1, 2, 3, 4, 5, 6, 7}

In [62]:
#3. remove(value) : 삭제
s1.remove(4)
s1

{1, 2, 3, 5, 6, 7}

## 자료형의 참과 거짓

In [ ]:
# 값이 있으면 true / 없으면 false => if(조건식): 의 조건식 자리에 사용

# "python" : true / "" : false      문자열  
# [1,2,3] :true / [] : false        리스트
# () : false                        튜플
# {} : false                        딕셔너리
# 1 (0이 아니면) : true / 0 : false  숫자
# None : false

In [67]:
a = [1,2,3,4]

while a :       #리스트에 값이 있으면 true, 빈 리스트면 false
    print(a.pop())

4
3
2
1

In [68]:
if [] :
    print('True')
else :
    print('False')

False

## 변수

In [69]:
#변수 공간만 만들기 (참조x)
z = None    #   = Nan (Numpy literal : 결측치 상수값)
print(z)

None

In [72]:
type(1),type(3.2),type([]),type(()),type({})

(int, float, list, tuple, dict)

In [75]:
#레퍼런스
b = 33
a is b #-->이렇게 쓰지x

True

In [79]:
#sys 모듈(변수들, 함수들, 클래스들)=> sys.py
import sys # => sys
sys.getrefcount(3)

834

In [80]:
#변수 만들기

a,b = ('python','life')
c,d = ['python','life']

### 리스트에 변수 넣고 복사하기

In [82]:
# 대입방식은 원본 데이터 보호되지 못함

a = [1,2,3]
b = a          #대입
b[1] = 4
a,b

([1, 4, 3], [1, 4, 3])

In [83]:
# 원본 데이터 보호하며 데이터 복사해두기

# 1. [:]

a = [1,2,3]
b = a[:]       #슬라이싱(복사,추출)
b[1] = 4
a,b

([1, 2, 3], [1, 4, 3])

In [86]:
# 2. copy

a = [1,2,3]
from copy import copy
b = copy(a)

b is a

False

# 2023-04-11

---

## 제어문 :: if

In [1]:
poket = ['paper','money','cellphone']
if 'money' in poket:
    pass
else:
    print("카드를 꺼내라")

In [2]:
poket = ['paper','handphone']
card = 1
if 'money' in poket:
    print("택시")
elif card:
    print("택시")
else:
    print("걸어가라")

택시

### while문

In [7]:
treeHit=0
while treeHit < 10:
    treeHit += 1
    print("나무를 %d번 찍었습니다." %treeHit)
    if treeHit == 10:
        print("완료!")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
완료!

In [2]:
prompt = """
    1. Add
    2. Del
    3. List
    4. Quit

    Enternumber"""

In [3]:
#input() : 키보드로 입력받는 내장 함수

number = 0

while number != 4:
    print(prompt)
    number = int(input())

    1. Add
    2. Del
    3. List
    4. Quit

    Enternumber

ValueError: invalid literal for int() with base 10: ''

In [10]:
coffee = 10
coffee_prize = 2500
money = 10000

while money:
    money -= coffee_prize
    coffee -= 1
    print("남은 커피 양은 %d개 입니다." %coffee)
    print("남은 돈은 %d원 입니다." %money)
    if not coffee:
        print("커피 재고소진. 판매 중지")
        break
    elif money < coffee_prize:
        print("돈이 부족합니다.")

남은 커피 양은 9개 입니다.
남은 돈은 7500원 입니다.
남은 커피 양은 8개 입니다.
남은 돈은 5000원 입니다.
남은 커피 양은 7개 입니다.
남은 돈은 2500원 입니다.
남은 커피 양은 6개 입니다.
남은 돈은 0원 입니다.
돈이 부족합니다.

In [12]:
coffee  = 10
while True :
    money = int(input("돈을 넣어주세요 : "))
    if money == 300:
        print("커피제공")
        coffee -= 1
    elif money > 300:
        print("거스름돈 %d , 커피 제공"%(money-300))
        coffee -= 1
    else :
        print("돈 반환, 커피제공x")
        print("남은 커피양 %d" %coffee)
    if not coffee:
        print("커피 재고 소진. 판매중지")
        break

거스름돈 200 , 커피 제공
돈 반환, 커피제공x
남은 커피양 9
돈 반환, 커피제공x
남은 커피양 9
거스름돈 200 , 커피 제공
거스름돈 700 , 커피 제공
거스름돈 200 , 커피 제공
거스름돈 250 , 커피 제공
돈 반환, 커피제공x
남은 커피양 5

ValueError: invalid literal for int() with base 10: ''

In [14]:
a=0
while a <10:
    a+=1
    if a%2 == 0 : 
        continue
    print(a)

1
3
5
7
9

### for문

In [15]:
test_list = ['one','two','three']
for i in test_list:
    print(i)

one
two
three

In [17]:
a = [(1,2),(3,4),(5,6)]
for (first,last) in a :
    print(first + last)

3
7
11

In [21]:
marks = [90,25,67,45,80]

number = 0
for mark in marks :
    number += 1
    if mark >= 60:
        print("%d번 학생은 합격입니다."%number)
    else:
        print("%d번 학생은 불합격입니다."%number)

1번 학생은 합격입니다.
2번 학생은 불합격입니다.
3번 학생은 합격입니다.
4번 학생은 불합격입니다.
5번 학생은 합격입니다.

In [22]:
marks = [90,25,67,45,80]

number = 0
for mark in marks:
    number += 1
    if mark < 60 :
        continue
    print("%d번 학생은  합격입니다."%number)

1번 학생은  합격입니다.
3번 학생은  합격입니다.
5번 학생은  합격입니다.